@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Work+Sans');



/* Header */
.header{
  height: 10vh;
  background:  #95B0B4;
  color: aliceblue;
  font-family: 'Abril Fatface', cursive;
}
.logo{
  margin-top:-5px;
  align-items: baseline;
}


/* Carousel */






/* Display */

.table{
  width: 100%;
  margin: 10px 0 2px;
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

.display--tracks{
  height: 80vh;
}

.tracks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}





/* Footer */

.footer{
  height: 10vh;
  background:  #95B0B4;
  color: aliceblue;
  font-family: 'Abril Fatface', cursive;
}